<div class="topbar">
    <div class="logo-area">
        <img src="assets/images/Home_img/Logo.png" alt="logo">
    </div>

    <div class="title-area">
        <h1>PETOPIA</h1>
    </div>

    <div class="right">
        <div class="upright">
            <div class="searchbox">
                <input type="search">
            </div>
            <div class="bagicon">
                <a href="#"><img src="assets/images/Home_img/Giỏ hàng.png" alt="Shopping Cart"></a>
            </div>
            <div class="accicon">
                <a href="#"><img src="assets/images/Home_img/Account.png" alt="Account"></a>
            </div>
        </div>
        <div class="downright">
            <table class="menu">
                <tr>
                    <td>
                        <ul>
                            <li class="dropdown">
                                <a href="#">Products</a>
                                <div class="dropdown-content">
                                    <a href="#">Product A</a>
                                    <a href="#">Product B</a>
                                    <a href="#">Product C</a>
                                </div>
                            </li>
                            <li class="dropdown">
                                <a href="#">Services</a>
                                <div class="dropdown-content">
                                    <a href="#">Service A</a>
                                    <a href="#">Service B</a>
                                    <a href="#">Service C</a>
                                </div>
                            </li>
                            <li class="dropdown"><a href="#">Plans</a></li>
                            <li class="dropdown"><a href="#">Tips</a></li>
                            <li><a href="#">Orders</a></li>
                            <li><a href="#">About us</a></li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>



