<div>
    <table style="width: 80%; margin-top: 40px;">
        <tr>
            <td rowspan="2">
                <h1 style="float: left; margin-left: 150px;">PETOPIA</h1>
            </td>
            <td>
                <p>Enter your email to receive the latest promotion information from Petopia</p>
            </td>
        </tr>
        <tr>
            <td>
                <input style="width: 80%;" type="email" alt="">
            </td>
            <td>
                <input style="background-color: rgb(34, 102, 141); color: white;" type="button" value="Register" alt="">
            </td>
        </tr>
    </table>
</div>

<table style="width: 70%; margin-top: 40px;">
    <tr>
        <td>
            FOR FURTHER INFORMATION
        </td>
        <td colspan="2">
            GO TO
        </td>
        <td>
            CUSTOMER SUPPORT
        </td>
    </tr>
    <tr>
        <td>
            6/7 U Ghe Street, Quarter 2<br> Tam Phu Ward, City. Thu Duc, City. HCM<br> 0896878929<br> hello@petopia.com
        </td>
        <td>
            Home<br> About us<br> Products
        </td>
        <td>
            Services<br> Plans<br> Tips
        </td>
        <td>
            Privacy Policy<br> Sales and Return Policy <br> Payment policy <br> Delivery Policy
        </td>
    </tr>
</table>