<h1>About us</h1> 
    <div class="image-container">
        <img src="aassets/images/Aboutus_img/About Us/h1.png" alt="">
    </div>

    <table>
        <tr>
            <td style="vertical-align: top;">
                <div class="about-petopia">
                    <h1>About The Petopia</h1> <p>&nbsp;</p>
                    <p>
                        The Pet Express website is part of the award-winning pet shop group which is based in South West England.
                    </p>
                    <p>
                        It all started back in 1995 when our first store was opened in Plymouth, today we have 9 stores and we are proud to remain a family owned and run business.
                    </p>
                    <p>
                        We are passionate about all pets and our highly-trained and dedicated staff are all pet owners just like you.
                    </p>
                    <p>
                        Our online store comprises of over 18,000 quality products for all pets including dogs, cats, reptiles, birds, small pets and fish. Our excellent relationships with the industry’s biggest suppliers allows us to offer this wide range of products at great prices.
                    </p>
                </div>
            </td>
            <td width="600" style="text-align: right;"><img src="D:\Business Web Development - Exercise\AboutUs_Tips\About Us\h2.png" alt=""></td>
        </tr>

        <tr>
            <td style="vertical-align: top;">
                <div class="about-petopia">
                    <h1>Our Values</h1>
                    <p>
                        Passion - We are passionate about pets and everything we do is to ensure they are cared for to the highest possible standards. We believe all pets are man's best friend.
                    </p>
                    <p>
                        Advice - We are always on hand to make sure pet owners buy the right products for their pets needs. Our trained staff have a broad range of knowledge so if you aren’t quite sure on something then please get in touch.
                    </p>
                    <p>
                        Wellbeing - Relax and trust that we have your pets best interests at heart. We strive to do everything in our power to ensure your pet is the happiest and healthiest it can be.
                    </p>
                    <p>
                        Service - We are 100% committed to providing the highest levels of service. Our mission is for The Petopia to become your favourite pet shop ever and we want you to tell all your friends about us. We don’t want to blow our own trumpet, but looking at all the positive reviews we get, we hope we are doing a pretty good job.
                    </p>
                </div>
            </td>
            <td width="600" style="text-align: right;"><img src="D:\Business Web Development - Exercise\AboutUs_Tips\About Us\h3.png" alt=""></td>
        </tr>
    </table>
