<div>
    <span>
<a style ="color: #6f6060;" href ="" >Products</a>
<a style ="color: #6f6060;" href ="" >/Care products</a>
<a style ="color: #6f6060;" href ="assets/images/productdetail_img/Care1.png" >/Sữa Tắm Gội & Dầu xả Budle'Budle ECOLAND GENERAL Hàn Quốc 500ml</a>
    </span>
</div>
<br>
<br>
<table>
    <tr>
        <td style="width: 5%;"></td>
        <td style="width: 40%; vertical-align: top;">
            <div class="slider-content">
                <img src="assets/images/productdetail_img/Care1.png">
            </div>
            <h1>Sữa Tắm Gội & Dầu xả Budle'Budle ECOLAND GENERAL Hàn Quốc 500ml</h1>
            <span class="strikethrough">310.000 VNĐ</span>
            <h2 style="text-indent: 15px;">200.000 VNĐ</h2>
            <button type="button" onclick="">
                Add to Cart
            </button>
        </td>
        <td style="width: 10%;"></td>
        <td style="vertical-align: top;">
            <h1>Description</h1>
            <hr color="#e8e8e8" size="3px">
            <p>Thành phần đặc biệt:</p>
                <ul>
                    <li>Tinh dầu jojoba và chiết xuất lá thường xuân</li>
                    <li>Chứa tinh chất trà xanh hữu cơ và cây mê điệt</li>
                    <li>Chiết xuất từ thảo mộc hữu cơ được chứng nhận ECOCERT</li>
                </ul>
            <p>Công dụng:</p>
                <ul>
                    <li>Bảo vệ bộ lông của chú chó khỏi các tác nhân gây dị ứng trong môi trường</li>
                    <li>Giữ ẩm và tăng độ óng ả cho lông, phục hồi hư tổn, cho lông thêm bóng mượt</li>
                    <li>Hương thơm thanh mát và lôi cuốn</li>
                </ul>
            
        </td>
        <td style="width: 10%;"></td>
    </tr>
</table>
