@import url('https://fonts.googleapis.com/css?family=Nunito');
    body {
        font-family: 'Nunito';
    }
    h3, h4, h1{
        color: 22668D;
        font-family: 'Nunito';
    }
    button {
        position: relative;
        transform: translate(30%, -40%);
        background-color: red;
        padding: 10px 20px;
        border-radius: 10px;
        border: none;
        box-shadow: 0px 8px 16px 0px rgba(251, 15, 15, 0.5);
        align-items: center;
        font-family: 'Nunito';
    }
    a{
        text-decoration: none;
        color: white;
        font-family: 'Nunito';
    }
    .tbl{
        width: 100%;
        table-layout: fixed;
        font-family: 'Nunito';
    }
    img{
        width: 100px;
        height: auto;
        vertical-align: center;
    }
    .tbl tr{
        height: 250px;
    }
    .tbl tr td:nth-child(3n) {
        border-left: 3px solid #e8e8e8;
    }
    .tbl tr:nth-child(2n){
        border-left: none;
    }