<div>
    <span>
<a style ="color: #6f6060;" href ="" >Shop</a>
<a style ="color: #6f6060;" href ="Plans.html" >/Plans</a>
    </span>
</div>
<h1 style="color: #ffcc70;">Petopia Offer</h1>
<hr color="#e8e8e8" size="3px" style="width: 20%; float: left;">
<br>
<table class="tbl">
    <tr>
        <td style="background-color: #EEECE0; border-radius: 15px; width: 14%;">
            <div style="text-align: center; padding-top: 5px;">
                <h3>229.000VND</h3>
                <img src="assets\images\combo_img\img1.png">
                <h4>3-month plan</h4>
            </div>
            <br>
            <button>Buy Now</button>
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 35%;">
                Detail:
                <ul>
                    <li>10% discount on all pet clothing and food products</li>
                    <li>Free shipping for orders over 500,000 VND</li>
                    <li>A 20% discount voucher for the next purchase</li>
                    <li>2 free spa services per month</li>
                    <li>2 free sitting services per month</li>
                </ul>
        </td>
        <td style="background-color: #EEECE0; border-radius: 15px; width: 14%;">
            <div style="text-align: center; padding-top: 5px;">
                <h3>950.000VND</h3>
                <img src="assets\images\combo_img\img2.png">
                <h4>1-year plan</h4>
            </div>
            <br>
            <button> Buy Now </button>
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 35%;">
                Detail:
                <ul>
                    <li>20% discount on all pet clothing and food products</li>
                    <li>Free shipping for all orders</li>
                    <li>A 30% discount voucher for the next purchase</li>
                    <li>4 free spa services per month</li>
                    <li>4 free sitting services per month</li>
                </ul>
        </td>
    </tr>
    <tr style="height: 30px;"><td colspan="4"></td></tr>
    <tr>
        <td style="background-color: #EEECE0; border-radius: 15px; width: 14%;">
            <div style="text-align: center; padding-top: 5px;">
                <h3>489.000VND</h3>
                <img src="assets\images\combo_img\img3.png">
                <h4>6-month plan</h4>
            </div>
            <br>
            <button> Buy Now </button>
        </td>
        <td style="width: 1%;"></td>
        <td style="width: 35%;">
                Detail:
                <ul>
                    <li>15% discount on all pet clothing and food products</li>
                    <li>Free shipping for orders over 2,000,000 VND</li>
                    <li>A 30% discount voucher for the next purchase</li>
                    <li>3 free spa services per month</li>
                    <li>3 free sitting services per month</li>
                </ul>
        </td>
    </tr>
</table>
<br>
<table style="width: 100%;border-collapse: collapse; table-layout: fixed;">
    <tr>
        <td style="width: 40%;">&nbsp;</td>
        <td style="width: 60%;"><img src="assets\images\combo_img\img1.png"></td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="background-color: #8ECDDD; border-bottom-left-radius: 15px; border-top-left-radius: 15px;">
            <p style="color: red; padding-left: 15px; padding-top: 15px;">How to register:</p>
                <ul>
                    <li>You can register for the service package directly at our store or through the “Buy now” button</li>
                    <li>When registering, you need to provide personal information and information about your pets</li>
                </ul>
        </td>
    </tr>
</table>
<table style="width: 100%;border-collapse: collapse; table-layout: fixed;">
    <tr>
        <td style="width: 50%;"><img src="assets\images\combo_img\img2.png" style="float: right; padding-bottom: 0px;"></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="background-color: #8ECDDD; border-bottom-right-radius: 15px; border-top-right-radius: 15px;">
            <p style="color: red; padding-left: 15px; padding-top: 15px;">Terms and conditions:</p>
                <ul>
                    <li>The service package is valid for 3, 6, or 12 months from the date of registration</li>
                    <li>The service package cannot be redeemed for cash</li>
                    <li>The service package only applies to products and services available at the store</li>
                </ul>
        </td>
        <td>&nbsp;</td>
    </tr>
</table>