<div class="image-container">
    <img src="D:\Business Web Development - Exercise\about us\Tips\header.png" alt="">
</div>
    <h1>Help your pets reach their full potential</h1>
    <div class="menu-bar">
        <div class="menu-item">
            <a href="D:\Business Web Development - Exercise\about us\Tips\Pet_Care\PetCare.html">Pet Care</a>
        </div>
        <div class="menu-item">
            <a href="D:\Business Web Development - Exercise\about us\Tips\Pet_Training\PetTraining.html">Training Advice</a>
        </div>
        <div class="menu-item">
            <a href="D:\Business Web Development - Exercise\about us\Tips\Pet_Nutrition\PetNutrition.html">Pet Nutrition</a>
        </div>
        <div class="menu-item">
            <a href="D:\Business Web Development - Exercise\about us\Tips\Pet_Health\HealthCare.html">Health Care</a>
        </div>
        <div class="menu-item">
            <a href="D:\Business Web Development - Exercise\about us\Tips\Others\All.html">Others</a>
        </div>
    </div>
