<table style="background-image: url(assets/images/mainproduct_img/Allcombined.png); background-repeat: no-repeat; background-size: cover; height: 700px;width: 1260px;">
    <tr>
        <td rowspan="5" style="width: 5%;"></td>
        <td style="color: #22668D;">
            <strong style="font-size: 44px;">Choose the best<br>for your pets</strong>
            <p></p>
            <strong style="font-size: 22px;">From accessories to outfits, we have<br>everything you need.</strong>
            <p><button type="button">
                View all
            </button></p>
        </td>
    </tr>
    <tr>
        <td> </td>
    </tr>
</table>
<h1 style="color: #ffcc70;">Product Catalog</h1>
<hr color="#e8e8e8" size="3px">
<table style="text-align: center; font-size: 30px;">
    <tr>
        <td style="width: 2.5%;">&nbsp;</td>
        <td style="width: 40%; background-color: #f7f6f0;"><img src="assets\images\mainproduct_img\image11.png" style="width: 50%; margin: 0 auto; height: 200px;"></td>
        <td style="width: 5%;">&nbsp;</td>
        <td style="width: 40%; background-color: #f7f6f0;"><img src="assets\images\mainproduct_img\image 2.png" style="width: 90%; margin: 0 auto; height: 200px;"></td>
        <td style="width: 5%;">&nbsp;</td>
        <td style="width: 40%; background-color: #f7f6f0;"><img src="assets\images\mainproduct_img\image 2-1.png" style="width: 70%; margin: 0 auto; height: 200px;"></td>
        <td style="width: 5%;">&nbsp;</td>
        <td style="width: 40%; background-color: #f7f6f0;"><img src="assets\images\mainproduct_img\image 2-2.png" style="width: 80%; margin: 0 auto; height: 200px;"></td>
        <td style="width: 2.5%;">&nbsp;</td>
    </tr>
    <tr>
        <td style="height: 35px;">&nbsp;</td>
        <td style="background-color: #f7f6f0; color: 22668D;">Food and drinks</td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0; color: 22668D;">Care products</td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0; color: 22668D;">Outfits</td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0; color: 22668D;">Toys and items</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">
            <br><button type="button" onclick="window.location.href='https://www.w3schools.com/howto/tryit.asp?font=Nunito';">
                See more>
            </button>
        </td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">
            <br><button type="button" onclick="window.location.href='https://www.w3schools.com/howto/tryit.asp?font=Nunito';">
                See more>
            </button>
        </td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">
            <br><button type="button" onclick="window.location.href='https://www.w3schools.com/howto/tryit.asp?font=Nunito';">
                See more>
            </button>
        </td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">
            <br><button type="button" onclick="window.location.href='https://www.w3schools.com/howto/tryit.asp?font=Nunito';">
                See more>
            </button>
        </td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">&nbsp;</td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">&nbsp;</td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">&nbsp;</td>
        <td>&nbsp;</td>
        <td style="background-color: #f7f6f0;">&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
<p></p>
<img src="assets\images\mainproduct_img\Icons-bar.png" style="background-repeat: no-repeat; background-size: cover; height: 350px;width: 1260px;">