<div class="homeintro">
    <img src="img/Giới thiệu.png" width="100%">
    <b>
        <p>Your pet's <br> perfect utopia</p>
    </b>
    <button><a href="nav.html" target="_blank">Register Now</a></button>
</div>

<div class="bodycontent">
    <h3>Why should you choose PETOPIA</h3>
    <h1>CHOOSING A 5-STAR HEALTHY MEAL</h1>
    <table>
        <tr>
            <td>
                <b>
                    <p>DELICIOUSLY HARD<br>TO RESIST</p>
                </b>
                <p>High-quality fresh ingredients<br>Meets hygiene and safety standards<br>The aroma stimulates the taste buds<br>No fillers</p>
                <img src="img/Yellow 1.png" alt="">
            </td>
            <td>
                <img src="img/Minh họa sp.png" alt="">
            </td>
            <td>
                <b>
                    <p>SCIENTIFIC FORMULA</p>
                </b>
                <p>From an experienced Veterinarian<br>Scientific nutritional balance<br>All 6 nutritional groups<br>No additives</p>
                <img src="img/Blue 1.png" alt="">
            </td>
        </tr>
    </table>
</div>

<div class="bodycontent" style="background-color: rgb(34, 102, 141); color: white;">
    <h1>CHOOSING A DEDICATED SERVICE</h1>
    <table>
        <tr>
            <td>
                <b>
                    <p>FRIENDLY AND<br>DEDICATED SERVICE</p>
                </b>
                <p>Listen to your feedback<br>Resolve any issues quickly and effectively.</p>
                <img src="img/Dark yellow 1.png" alt="">
            </td>
            <td>
                <img src="img/Pet service.png" alt="">
            </td>
        </tr>
    </table>
</div>

<div class="bodycontent" style="background-color: rgb(142, 205, 221); color: white;">
    <h1>CHOOSING THE BEST<br>WITH AFFORDABLE PRICES</h1>
    <table>
        <tr>
            <td style="width: 50%;">
                <img src="img/Happy dog.png" alt="">
            </td>
            <td>
                <p>Save money while<br>still getting the best<br>for your pet</p>
                <img src="img/Yellow 2.png" alt="">
            </td>
        </tr>
    </table>
</div>

<div class="bodycontent" style="background-color: rgb(255, 204, 112);">
    <table>
        <tr>
            <td style="width: 50%;">
                <h1>FOLLOW<br>FACEBOOK and INSTAGRAM<br>OF PETOPIA</h1>
            </td>
            <td>
                <img src="img/Paw prints.png" alt="">
            </td>
        </tr>
    </table>
</div>