@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
    font-family: 'Nunito';
}
button {
    position: absolute;
    top: 105%;
    left: 17%;
    width: 10%;
    transform: translate(50%, -50%);
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: red;
    box-shadow: 0px 8px 16px 0px rgba(251, 15, 15, 0.5);
}
table {
    width: 100%;
    table-layout: fixed; 
    border-collapse: collapse;
    border: 0;
    font-family: 'Nunito';
}