<table style="background-image: url(assets/images/plans_img/combined1.jpg); background-repeat: no-repeat; background-size: cover; height: 600px;width: 1250px;">
    <tr>
        <td style="width: 5%;"></td>
        <td style="width: 35%;">
            <strong style="font-size: 44px; color: #FF7970; float: right; text-align: left; padding-bottom: 40px;">Choose the best<br>for your pets</strong>
            <hr size="3" color="E8E8E8" style="width: 70%; float: right;">
            <strong style="font-size: 22px; color: #FCD38A; text-align: center; float: right; padding-top: 30px;">PETOPIA bring convenience to<br>customers with monthly<br>service packages with a <br>variety of choices.</strong>
            <p><button type="button">
                Buy now
            </button></p>
        </td>
        <td style="width: 60%;">&nbsp;</td>
    </tr>
</table>